
{% load static %}

<h2>Search Results</h2>
{% if playlists %}
  {% for playlist in playlists %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>{{ playlist.title }}</h3>
    </div>
    <div class="panel-body">
      <div class="col-md-6">
        <div class="row">
            <img class="img-responsive" src="{{ playlist.get_thumb_url }}" width="120px" height="90px">
        </div>
      </div>
      <div class="col-md-6">
        <hr class="visible-sm visible-xs">
        <p>{{ playlist.number_of_songs }} song{{ playlist.number_of_songs|pluralize }}</p>
        <p>by <strong>{{ playlist.user }}</strong></p>

        <a class="btn btn-primary" href="{% url 'playlist' playlist.id %}">View Playlist</a>
      </div>
    </div>
  </div>
  {% endfor %}
{% else %}
  No results found!
{% endif %}